.content {
  display: block;
  width: 480px;
  margin: 0 auto;
}

.dialog-buttons {
  display: flex;
  justify-content: flex-end;
}

.custom-form-class {
  padding: 20px;
}

.button-container {
  margin-top: 10px;
}

.cancel-button {
  margin-left: 10px;
}

.dialog-title {
  margin-top: 10px;
  margin-left: 10px;
}

